<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Pizza Restaurant - VUE</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
  </script>
  <link rel="stylesheet" href="./style.css">
</head>

<body>
  <div id="pizza-restaurant" class="container-fluid h-100">
    <div class="row h-100">
      <div class="col-9 p-4">
        <div class="text-center">
          <h3>
            Order Now 🍕
          </h3>
          <p>
            Place your order online
          </p>
        </div>

        <div class="row row-cols-3">
          <div class="col " v-for="(item, index) in menu" :key="index">
            <div class="d-flex item">
              <img class="w-50 " :src="item.image" :alt="item.name">
              <div class="p-3">
                <h5>{{item.name}}</h5>
                <h6>${{item.price.toFixed(2)}}</h6>
                <button type="button" @click="addPizza(item.id)">Order</button>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-3 total-section p-4">
        <h3 class="text-center">
          Your Cart
        </h3>

        <div class="order-items" v-if="cart.length > 0">
          <div class="order-item p-4 mb-4" v-for=" (item, index) in cart" :key="index">
            <h5>
              {{item.name}}
            </h5>
            <p>
              ${{item.price.toFixed(2)}} x {{item.quantity}} = ${{(item.price * item.quantity).toFixed(2)}}
            </p>

            <div class=" mb-3">
              <button type="button" @click="addItem(item.id)">+</button>
              <button type="button" @click="reduceItem(item.id)">-</button>
            </div>

            <p>
              <strong>Size:</strong> {{item.size}}
            </p>
          </div>
        </div>

        <h4 class="text-center mt-4">
          Total: ${{ getTotalPrice() }}
        </h4>
      </div>
    </div>
  </div>

  <script src="https://unpkg.com/vue@3"></script>
  <script src="./main.js"></script>

</body>

</html>