html {
  height: 100%;
}

body {
  background-color: black;
  color: white;
  height: 100%;
}

.total-section {
  background-color: rgb(44, 44, 44);
}

.item {
  background-color: rgb(44, 44, 44);
  padding-left: 0;
  margin-top: 10px;
}

.item img {
  object-fit: cover;
}

.order-item {
  background-color: rgb(22, 22, 22);
}

.order-items {
  padding: 20px;
  margin-top: 20px;
  max-height: 75vh;
  overflow-y: scroll;
}

button {
  border: 1px solid white;
  background-color: rgb(44, 44, 44);
  color: white;
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  font-size: 20px;
}

button:hover {
  background-color: rgb(22, 22, 22);
}
